<mat-toolbar color="primary" class="header">
  <img src="assets/img/logo.png" alt="Olepark Logo" class="logo-img">
  
  <span class="spacer"></span>

  <!-- Navegación para pantallas grandes -->
  <nav class="nav-links">
    <a mat-button href="#">QUIENES SOMOS</a>
    <a mat-button href="#">BLOG</a>
    <a mat-button href="#">PUBLICA TU PLAZA</a>
  </nav>

  <div class="right-section">
    <button mat-button class="language">ES ▼</button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <!-- Icono menú para vista móvil -->
  <button mat-icon-button class="menu-icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
