<div class="contact-section">
    <div class="text-section">
      <h2>¿Quieres hablar?</h2>
      <button class="publish-btn">Contacta con nosotros</button>
    </div>
    <div class="image-section">
      <img src="assets/img/img-4.png" alt="Plaza de garaje">
    </div>
</div>

<div class="why-olepark">
    <div class="image-container">
      <img src="assets/img/img-5.png" alt="Olepark">
    </div>
    <div class="text-container">
      <h2>¿Por qué Olepark?</h2>
      <p>
        Olepark se posiciona como la primera plataforma digital en España que conecta
        a propietarios de plazas de garaje con usuarios de parking, ofreciendo una
        solución innovadora para optimizar el uso y aumentar la rentabilidad de estos
        espacios urbanos.
      </p>
      <button class="why-btn">Publica tu plaza</button>
      <button class="why-btn">Contacta</button>
    </div>
</div>


