<div class="parking-container">
  <div class="content">
    <div class="text-section">
      <h1>Aparca mejor <br> más barato</h1>
      <p>
        Olepark es la aplicación que ofrece a los turistas las
        mejores plazas de parking para poder desplazarte por la ciudad, 
        contando con un garaje seguro, privado y con todas las
        comodidades como si estuvieras en casa.
      </p>
    </div>
    <div class="image-section">
      <img src="assets/img/img-1.png" alt="Coche de fondo" class="car-background">
      <img src="assets/img/img-2.png" alt="Coche principal" class="car-front">
    </div>
  </div>
</div>

<div class="form-wrapper">
  <div class="form-card">
    <div class="form-row">
      <div class="input-container">
        <div class="input-group">
          <input type="text" placeholder="¿Dónde necesitas aparcar?" />
          <span class="material-symbols-outlined icon-location">location_on</span>
        </div>
        <p class="info-text">
          Las reservas de un día completo van desde las 13:00 horas
          hasta las 12:00 horasdel día siguiente, incluida la noche.
        </p>
      </div>

      <div class="input-container">
        <div class="input-group">
          <input type="text" placeholder="¿Dónde necesitas aparcar?" />
          <span class="material-symbols-outlined icon-date">calendar_today</span>
        </div>
        <div class="radio-group">
          <label>
            <input type="radio" name="timeOption" value="day" /> Día completo
          </label>
          <label>
            <input type="radio" name="timeOption" value="hour" /> Franja horaria
          </label>
        </div>
        <div class="button-container">
          <button>Buscar</button>
        </div>
      </div>
    </div>
  </div>
</div>




