.testimonials {
    background-color: #24DCE3;
    padding: 50px 20px;
    text-align: center;
  
    h2 {
      color: white;
      font-size: 3.2rem;
      font-weight: bold;
    }
}
  
.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    margin-top: 30px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
  
.testimonial-card {
    background: white;
    width: 25%;
    min-width: 280px;
    padding: 30px;
    border-radius: 20px; 
    text-align: left;
    position: relative;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5); 
}
  
.card-header {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}
  
.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
  
.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.rating {
    display: flex;
    color: #3721E1;
    position: absolute;
    bottom: -5px; // 🔹 Subimos las estrellas
    left: 85px;   // 🔹 Alineamos con la imagen de perfil
}
  
mat-icon {
    font-size: 22px;
    color: gray;
  
    &.filled {
      color: #3721E1;
    }
}
  
.testimonial-text {
    color: gray;
    margin-top: 15px;
    font-size: 1.2rem;
    line-height: 1.4;
}

.quote-mark {
    font-size: 10rem; 
    color: #3721E1;
    position: absolute;
    bottom: -70px; 
    right: 20px; 
    font-family: serif;
    opacity: 2; 
    line-height: 1;
}


