.footer-section {
    background-color: #384753;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0; 
}

.footer-logo {
    max-width: 600px; 
    height: auto;
}
