<div class="faq-section">
    <div class="faq-text">
      <h2>¿Por qué Olepark?</h2>
        <div class="faq-item">
            <h3>01</h3>
            <p>¿Qué es Olepark?</p>
        </div>
        <div class="faq-item">
            <h3>02</h3>
            <p>¿Cómo reservar una plaza de garaje en Olepark?</p>
        </div>
        <div class="faq-item">
            <h3>03</h3>
            <p>¿Puedo publicar mi plaza en Olepark?</p>
        </div>
        <div class="faq-item">
            <h3>04</h3>
            <p> ¿Cuánto cuesta reservar una plaza en Olepark?</p>
        </div>
        <div class="faq-item">
            <h3>05</h3>
            <p> ¿Puedo cancelar mi reserva en Olepark?</p>
        </div>
        <div class="faq-item">
            <h3>06</h3>
            <p> ¿Cuánto es el tiempo mínimo de reserva?</p>
        </div>
        <div class="faq-item">
            <h3>07</h3>
            <p> ¿Puedo ampliar la estancia en mi plaza?</p>
        </div>
        </div>
    <div class="image-container">
        <img src="assets/img/img-6.png" alt="Olepark">
    </div>
</div>

