<div class="faq-section">
    <div class="faq-text">
      <h2>¿Por qué Olepark?</h2>
      <details class="question">
        <summary class="summary">
          <div class="title">
            <span>01</span><span>¿Qué es Olepark?</span>
          </div>
          <div class="action">
            <mat-icon class="expand-icon">add</mat-icon>
            <mat-icon class="collapse-icon">remove</mat-icon>
          </div>
        </summary>
        <div class="answer">
          Olepark es la plataforma que pone en contacto a los propietarios de plazas de garaje con los usuarios que quieren reservar estas plazas en franjas horarias o días completos.
        </div>
      </details>
  
      <details class="question">
        <summary class="summary">
          <div class="title">
            <span>02</span><span>¿Cómo reservar una plaza de garaje en Olepark?</span>
          </div>
          <div class="action">
            <mat-icon class="expand-icon">add</mat-icon>
            <mat-icon class="collapse-icon">remove</mat-icon>
          </div>
        </summary>
        <div class="answer">
          Para reservar una plaza, simplemente selecciona la ubicación, fecha y franja horaria en nuestra plataforma y completa el pago.
        </div>
      </details>
  
      <details class="question">
        <summary class="summary">
          <div class="title">
            <span>03</span><span>¿Puedo publicar mi plaza en Olepark?</span>
          </div>
          <div class="action">
            <mat-icon class="expand-icon">add</mat-icon>
            <mat-icon class="collapse-icon">remove</mat-icon>
          </div>
        </summary>
        <div class="answer">
          Sí, cualquier propietario de plaza de garaje puede publicarla en Olepark para obtener ingresos extra.
        </div>
      </details>
    </div>
  
    <div class="image-container">
      <img src="assets/img/img-6.png" alt="Olepark">
    </div>
  </div>
  