<div class="faq-section">
    <div class="faq-text">
      <h2>¿Por qué Olepark?</h2>
      <details class="question">
        <summary class="summary">
          <div class="title">
            <span class="number">01</span><span>¿Qué es Olepark?</span>
          </div>
          <div class="action">
            <mat-icon class="expand-icon">add</mat-icon>
            <mat-icon class="collapse-icon">remove</mat-icon>
          </div>
        </summary>
        <div class="answer">
          Olepark es la plataforma que pone en contacto a los propietarios de plazas de garaje con los usuarios que quieren reservar estas plazas en franjas horarias o días completos.
        </div>
      </details>
  
      <details class="question">
        <summary class="summary">
          <div class="title">
            <span class="number">02</span><span>¿Cómo reservar una plaza de garaje en Olepark?</span>
          </div>
          <div class="action">
            <mat-icon class="expand-icon">add</mat-icon>
            <mat-icon class="collapse-icon">remove</mat-icon>
          </div>
        </summary>
        <div class="answer">
            Sólo tienes que buscar las plazas disponibles con la dirección y la fecha en la que necesitas el servicio, seleccionar la que más te interesa y pagar por el servicio. Deberás crear una cuenta de usuario para poder realizar tu reserva.
        </div>
      </details>
  
      <details class="question">
        <summary class="summary">
          <div class="title">
            <span class="number">03</span><span>¿Puedo publicar mi plaza en Olepark?</span>
          </div>
          <div class="action">
            <mat-icon class="expand-icon">add</mat-icon>
            <mat-icon class="collapse-icon">remove</mat-icon>
          </div>
        </summary>
        <div class="answer">
            Sí, puedes publicar tu plaza para recibir reservas en Olepark. Sólo tienes que crear tu cuenta de usuario, iniciar sesión, y publicar tu plaza siguiendo el formulario destacado en el menú superior. Una vez publicada, nos encargaremos de certificar el proceso de forma legal para activarla.
        </div>
      </details>

      <details class="question">
        <summary class="summary">
          <div class="title">
            <span class="number">04</span><span>¿Cuánto cuesta reservar una plaza en Olepark?</span>
          </div>
          <div class="action">
            <mat-icon class="expand-icon">add</mat-icon>
            <mat-icon class="collapse-icon">remove</mat-icon>
          </div>
        </summary>
        <div class="answer">
            Los propietarios publican sus plazas con el precio que quieren, ya sea por franjas horarias o por días completos, de forma que cada una tendrá un precio diferente. Además, pueden cambiar los precios según la temporada o por ocasiones especiales.
        </div>
      </details>

      <details class="question">
        <summary class="summary">
          <div class="title">
            <span class="number">05</span><span>¿Puedo cancelar mi reserva en Olepark?</span>
          </div>
          <div class="action">
            <mat-icon class="expand-icon">add</mat-icon>
            <mat-icon class="collapse-icon">remove</mat-icon>
          </div>
        </summary>
        <div class="answer">
            Sí, podrás cancelar tu reserva en Olepark con una antelación mínima de 24h previa al inicio del servicio. Los propietarios además podrán cambiar el límite de tiempo de cancelación de sus plazas.
        </div>
      </details>

      <details class="question">
        <summary class="summary">
          <div class="title">
            <span class="number">06</span><span>¿Cuánto es el tiempo mínimo de reserva?</span>
          </div>
          <div class="action">
            <mat-icon class="expand-icon">add</mat-icon>
            <mat-icon class="collapse-icon">remove</mat-icon>
          </div>
        </summary>
        <div class="answer">
            Los propietarios deciden si quieren poner sus plazas disponibles para la reserva en franjas horarias (mínimo 6 horas) o por días completos. Además, deberás reservar la plaza con una antelación mínima de 12h o el periodo que marque el propietario.
        </div>
      </details>

      <details class="question">
        <summary class="summary">
          <div class="title">
            <span class="number">07</span><span>¿Puedo ampliar la estancia en mi plaza?</span>
          </div>
          <div class="action">
            <mat-icon class="expand-icon">add</mat-icon>
            <mat-icon class="collapse-icon">remove</mat-icon>
          </div>
        </summary>
        <div class="answer">
            Si la plaza tiene disponibilidad en las 24h posteriores al término de tu reserva, tendrás la opción de ampliar el periodo de reserva y permanecer en la plaza, pagando el tiempo extra en nuestra plataforma.
        </div>
      </details>
    </div>
  
    <div class="image-container">
      <img src="assets/img/img-6.png" alt="Olepark">
    </div>
  </div>
  